@font-face {
    font-family: "Rewalt";
    src: url(/static/ttf/rewalt-medium.otf);
}

@font-face {
    font-family: "OpenDyslexic";
    src: url(/static/ttf/OpenDyslexic3-Regular.ttf)
}

body {
    min-height: 100vh;
    position: relative;
    background: url("/static/img/bg.png"),
        linear-gradient(78deg, #a0c1e7, #4385d1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.gradient-text {
    background-image: linear-gradient(90deg,
            #d60270 40%,
            #9b4f96 40%,
            #9b4f96 60%,
            #0038a8 60%);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
