{% extends "base.html" %}

{% block content %}
<div class="columns-2 m-4 mx-auto max-w-screen-xl">
    <div class="bg-white rounded-lg shadow-lg mx-2 p-4 break-inside-avoid-column">
        <h1 class="text-2xl my-2">Our Mission</h1>
        <p class="my-2">Our main mission at Riget Zoo Adventures is to restore the damaged wildlife to its former glory.</p>
        <p class="my-2">At our zoo, we rehabilitate parts of wildlife that were thought to be extinct, or extremely rare, and open it up for the public to see.</p>
        <p class="my-2">Our new exhibitions that open yearly are to show our work, and what we have managed to achieve in such a short amount of time,</p>
        <p class="my-2">Since opening in 2002, we have been recognised more than 10 times for the restoration of once thought extinct species of animals, plants, and other aspects of nature.</p>
        <p class="my-2">Our goal is to educate our visitors on the importance of rehabilitation of animals and the restoration of once lost wildlife! Want to learn more? Come visit!</p>
    </div>
    <div class="bg-white rounded-lg shadow-lg mx-2 p-4 break-inside-avoid-column">
        <h1 class="text-2xl mt-2">The history.</h1>
        <p class="my-2">We began our mission privately back in 1996, under the name Riget Wildlife Rehabilitation.</p>
        <div class="grid grid-cols-2 text-center">
            <img class="my-2" src="/static/img/pexels-tkirkgoz-19490168.jpg" width="205px" />
            <p class="my-2">Picture of one of the first animals we rehabilitated back to health to release to the wild again. This was one of the most important steps to getting to where we are now! You can still visit this Owl in Sector 4 of the zoo! After this, we began to take in more and more animals, and eventually opened up to the public as Riget Zoo Adventures in July 2002!</p>
        </div>
    </div>
</div>
<div class="bg-white rounded-lg shadow-lg m-4 p-4 max-w-screen-xl mx-auto">
    <h1 class="text-2xl my-2">Need special requirements?</h1>
    <p class="my-2">Make sure to take a look at our <a href="{{ url_for('accessibility') }}" class="hover:underline">accesssibility</a> page before visiting.</p>
    <p class="my-2">Once you have looked through that page, be sure to contact us with your booking to arrange for your extra requirements.</p>
    <p class="my-2">Please quote your booking number in the first line of your enquiry so we can find your booking as fast as possible!</p>
    <a href="{{ url_for('contact') }}" class="underline">Contact Us!</a>
</div>
{% endblock %}