{% extends "base.html" %}

{% block content %}
<div class="max-w-screen-lg bg-white rounded-lg shadow-lg m-4 mx-auto p-4">
    <h1 class="text-2xl my-2">Accessibility in the Zoo</h1>
    <p class="my-2">RZA prides itself on being one of the most accessable places for people with both mental and physical disabilities.</p>
    <p class="my-2">We run a free program for any visitors to our zoo to assist them with their needs, especially if they have a disability where they require assistance to move around, ensuring that the rest of your family or friends can enjoy their visit with you.</p>
    <p class="my-2">We offer free tickets to carers for people visiting with those who have a disability and require a carer with them, to be eligible for this at entry, please bring proof showing that you are a carer.</p>
    <hr>
    <h2 class="text-xl my-2">Mental Handicaps</h2>
    <p class="my-2">For those with a mental disability, such as ASD, ADHD, etc... where sensory needs may need to be addressed during your visit, we offer multiple sensory rooms and quiet areas around the entire zoo, as well as providing analytics through our microphones and AI-CI systems to show you the noise levels of an area, and how crowded they get!</p>
    <p class="my-2">We ensure that there is a quiet area within a few minutes walking distance of every zone in the zoo.</p>
    <p class="my-2">If requested during your booking, for sensory issues we can provide <a href="https://loopearplugs.com" class="text-blue-200 hover:underline">Loop Earplugs</a> or Ear Defenders during your visit at the entrance. For a more discrete look, Loop Earplugs are recommended, however if you require more sound deafening, Ear Defenders are your best choice.</p>
    <br>
    <p class="my-2">For those who care for people with more severe mental handicaps, such as people who may be non-verbal, or are unable to function in daily life without assistance, one of our specialised helpers can assist you and the person you are caring for throughout the park.</p>
    <hr>
    <h2 class="text-xl my-2">Physical Handicaps</h2>
    <p class="my-2">For those with physical handicaps, we have made sure that every area of our zoo is accessable through the use of a wheelchair, motorised scooter, or for those who walk with crutches / a walker.</p>
    <p class="my-2">Each set of stairs has an accessible route through either an elevator, or a stair-lift, ensuring that nobody you are visiting with has to miss out on anything!</p>
    <hr>
    <p class="my-2">All of the above also apply to our hotel areas.</p>
    <p class="text-2xl my-2">We hope you enjoy your visit!</p>
</div>
{% endblock %}