{% extends "base.html" %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4">
    <h1 class="text-3xl text-center p-4">Admin Dashboard</h1>
</div>
<div class="grid grid-cols-3 max-w-screen-xl mx-auto">
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin">Home</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/messages">Messages</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/check_booking">Check Bookings</a>
</div>
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4 p-4">
    <h2 class="text-xl">Unresolved</h2>
    {% for enquiry in messages %}
    {% if enquiry.response == None %}
    <a href="/admin/messages/{{ enquiry.id }}"><div class="bg-white shadow-lg rounded-lg p-2 m-2 w-fit hover:bg-gray-100">
        <h4 class="text-md text-bold">UserID: {{ enquiry.user_id }}</h4>
        <p>ID: {{ enquiry.id }}</p>
        <a href="/admin/messages/{{ enquiry.id }}/delete" class="hover:underline">Delete</a>
    </div></a>
    {% endif %}
    {% endfor %}
</div>
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4 p-4">
    <h2 class="text-xl">Resolved</h2>
    {% for enquiry in messages %}
    {% if enquiry.response != None %}
    <a href="/admin/messages/{{ enquiry.id }}"><div class="bg-white shadow-lg rounded-lg p-2 m-2 w-fit hover:bg-gray-100">
        <h4 class="text-md text-bold">UserID: {{ enquiry.user_id }}</h4>
        <p>ID: {{ enquiry.id }}</p>
        <a href="/admin/messages/{{ enquiry.id }}/delete" class="hover:underline">Delete</a>
    </div></a>
    {% endif %}
    {% endfor %}
    <p>{{ message_count }} messages found.</p>
</div>
{% endblock %}