{% extends "base.html" %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4">
    <h1 class="text-3xl text-center p-4">Admin Dashboard</h1>
</div>
<div class="grid grid-cols-3 max-w-screen-xl mx-auto">
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin">Home</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/messages">Messages</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/check_booking">Check Bookings</a>
</div>
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4 p-4">
    <div class="bg-white shadow-lg rounded-lg p-2 m-2 w-fit hover:bg-gray-100">
        <h4 class="text-md text-bold">UserID: {{ message.user_id }}</h4>
        <p>ID: {{ message.id }}</p>
        <hr>
        <p>Enquiry: {{ message.enquiry }}</p>
        <form method="post" action="" class="p-2" novalidate>
            {{ form.hidden_tag() }}
            <div class="my-4">
                <p>{{ form.text.label }}</p>
                <p>{{ form.text(size=64) }}</p>
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit">{{ form.submit() }}</p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <a href="/admin/messages/{{ message.id }}/delete" class="hover:underline">Delete</a>
    </div>
</div>
{% endblock %}