{% extends "base.html" %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4">
    <h1 class="text-3xl text-center p-4">Admin Dashboard</h1>
</div>
<div class="grid grid-cols-3 max-w-screen-xl mx-auto">
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin">Home</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/messages">Messages</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/check_booking">Check Bookings</a>
</div>
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4 p-4 text-center">
    <p class="text-2xl">To check bookings, use one of the two links below:</p>
    <code class="my-2">/admin/check_hotel/bookingid</code>
    <br>
    <code class="my-2">/admin/check_zoo/bookingid</code>
    <br>
    <p>Use <a href="/admin/check_hotel/1">/admin/check_hotel/1</a> and <a href="/admin/check_zoo/1">/admin/check_zoo/1</a> as an example.</p>
</div>
{% endblock %}