{% extends "base.html" %}

{% block content %}
<div class="max-w-screen-lg bg-white rounded-lg shadow-lg m-4 mx-auto p-4">
    <h1 class="text-2xl my-2">API Documentation</h1>
    <p class="my-2">The API's collected within this page collect data and information about the Zoo, these being people density and sound levels in dB.</p>
    <p class="my-2">The API returns data formatted similar to eachother, with different data from the different zones around the zoo. The data that is returned is formatted as JSON, and requests should be made to the API in a REST format.</p>
    <br>
    <h2 class="text-xl my-2">Versioning</h2>
    <p class="my-2">This API currently only has one version.</p>
    <table class="my-2 table-auto">
        <tr>
            <td><code>/api/v1 - </code></td>
            <td><code>Maintained</code></td>
        </tr>
    </table>
    <p class="my-2">In future, if new versions are released, the newest and previous version will still be maintained, and the two after that will be labelled as deprecated, any other previous ones will be made inactive.</p>
    <br>
    <h2 class="text-xl my-2">People Density</h2>
    <p class="my-2">This endpoint makes use of AI-CI to get an estimate amount of people inside of a zone at any given time.</p>
    <code class="text-lg my-2"><span class="text-[#0f0]">GET</span> /api/v1/aici/rawr - All raw data from AI-CI</code>
    <p>This returns all the data from every zone in the zoo, with a max estimate of people detected and a minimum. It is left to the user of this API to figure out the estimated amount of people.</p>
    <code class="my-2">Returns:</code>
    <code>
        {
            "aici": {
              "datacap": {
                "aici_zone_1": {
                  "low_assumed": 74,
                  "max_assumed": 77
                },
                "aici_zone_2": {
                  "low_assumed": 35,
                  "max_assumed": 80
                },
                "aici_zone_3": {
                  "low_assumed": 68,
                  "max_assumed": 75
                },
                "timestamp": 1713776614.45808
              }
            }
          }
    </code>
    <h2 class="text-xl my-2">Noise Levels</h2>
    <p class="my-2">This endpoint makes use of microphones placed around the zoo to get the current sound levels of any area at any time..</p>
    <code class="text-lg my-2"><span class="text-[#0f0]">GET</span> /api/v1/sound/rawr - All raw data from microphones</code>
    <p>This returns all the data from every zone in the zoo, with the highest and lowest currently recorded levels of noise in each area. It is again left to the developer to work out an average of these values.</p>
    <code class="my-2">Returns:</code>
    <code>
        {
            "sound": {
              "datacap": {
                "sound_zone_1": {
                  "low_assumed": "75db",
                  "max_assumed": "79db"
                },
                "sound_zone_2": {
                  "low_assumed": "3db",
                  "max_assumed": "56db"
                },
                "sound_zone_3": {
                  "low_assumed": "65db",
                  "max_assumed": "100db"
                },
                "timestamp": 1713776788.16008
              }
            }
          }
    </code>
    <br>
</div>
{% endblock %}