<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A zoo dedicated to the restoration of wildlife." />
    <meta name="og:title" property="og:title" content="Riget Zoo Adventures" />
    <meta name="og:description" property="og:description" content="A Family zoo dedicated to the restoration of wildlife in the Safari." />
    <meta name="robots" content="index, book, Nofollow">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Tailwind CSS during dev -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Flowbite JS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>RZA - {{ title }}</title>
    {% if current_user.opendyslexic %}
    <style>
        body {
            font-family: "OpenDyslexic", sans-serif !important;
        }
    </style>
    {% else %}
    <style>
        body {
            font-family: "Rewalt", sans-serif !important;
        }
    </style>
    {% endif %}
</head>

<body>
    <nav class="bg-[#29335ca0] relative z-10">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 relative">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{{ url_for('static', filename='img/rza-logo.png')}}" class="h-12"
                    alt="Riget Zoo Adventures Logo" />
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg xl:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <i class="fa fa-bars" style="font-size: 24px"></i>
            </button>
            <div class="hidden w-full xl:block xl:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 xl:p-0 mt-4 xl:flex-row xl:space-x-8 rtl:space-x-reverse xl:mt-0">
                    <li class="text-white p-2">
                        {% if title == "Home" %}
                        <a href="{{ url_for('index') }}"
                            class="block py-2 px-3 text-white bg-blue-700 rounded xl:bg-transparent xl:text-blue-700 xl:p-0 dark:text-white xl:dark:text-blue-500"
                            aria-current="page">Home</a>
                        {% else %}
                        <a href="{{ url_for('index') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">Home</a>
                        {% endif %}
                    </li>
                    <li class="text-white p-2">
                        {% if title == "Plan your Visit" %}
                        <a href="{{ url_for('plan') }}"
                            class="block py-2 px-3 text-white bg-blue-700 rounded xl:bg-transparent xl:text-blue-700 xl:p-0 dark:text-white xl:dark:text-blue-500"
                            aria-current="page">Plan your Visit</a>
                        {% else %}
                        <a href="{{ url_for('plan') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">Plan
                            your Visit</a>
                        {% endif %}
                    </li>
                    <li class="text-white p-2">
                        {% if title == "About the Zoo" %}
                        <a href="{{ url_for('about') }}"
                            class="block py-2 px-3 text-white bg-blue-700 rounded xl:bg-transparent xl:text-blue-700 xl:p-0 dark:text-white xl:dark:text-blue-500"
                            aria-current="page">About the Zoo</a>
                        {% else %}
                        <a href="{{ url_for('about') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">About
                            the Zoo</a>
                        {% endif %}
                    </li>
                    <li class="text-white p-2">
                        {% if title == "Contact" %}
                        <a href="{{ url_for('contact') }}"
                            class="block py-2 px-3 text-white bg-blue-700 rounded xl:bg-transparent xl:text-blue-700 xl:p-0 dark:text-white xl:dark:text-blue-500"
                            aria-current="page">Contact</a>
                        {% else %}
                        <a href="{{ url_for('contact') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">Contact</a>
                        {% endif %}
                    </li>
                    <li class="text-white p-2">
                        {% if title == "Book" %}
                        <a href="#"
                            class="block py-2 px-3 text-white bg-blue-700 rounded xl:bg-transparent xl:text-blue-700 xl:p-0 dark:text-white xl:dark:text-blue-500"
                            aria-current="page">Book Today!</a>
                        {% else %}
                        <a href="{{ url_for('book') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">Book
                            Today!</a>
                        {% endif %}
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="text-white">
                        <a class="block py-2 px-3 text-gray-900 bg-[#e4572e] rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent"
                            href="{{ url_for('profile') }}">Hello, {{ current_user.forename }} {{ current_user.surname
                            }}.</a>
                    </li>
                    {% else %}
                    <li class="text-white p-2">
                        <a href="{{ url_for('login') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">Login</a>
                    </li>
                    <li class="text-white p-2">
                        <a href="{{ url_for('register') }}"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 xl:hover:bg-transparent xl:border-0 xl:hover:text-blue-700 xl:p-0 dark:text-white xl:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white xl:dark:hover:bg-transparent">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="flex flex-col flex-grow">
    {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="p-8 bg-[#f3a712aa] rounded-t-lg text-white w-full mt-auto">
            <div class="rounded-lg bg-[#00000010] p-4 shadow-lg max-w-screen-lg mx-auto">
                <div class="columns-1 static md:columns-2">
                    <div class="mt-4">
                        <p>Riget Zoo Adventures.</p>
                        <p>
                            A conservation-driven zoo, dedicated to restoring lost wildlife.
                        </p>
                        <p class="text-xs">New College Durham, Framwellgate Moor Campus, Durham, DH1 5ES</p>
                        <h4 class="mt-2 text-xl text-bold">Find us on Social Media</h4>
                    </div>
                    <div class="mx-auto">
                        <span style="font-size: 32px"><i class="fa fa-twitter"></i> &nbsp;
                            <i class="fa fa-instagram"></i> &nbsp;
                            <i class="fa fa-facebook"></i> &nbsp;
                            <i class="fa fa-linkedin"></i></span>
                        <div class="p-8 bg-white rounded-lg text-black w-fit static mt-2">
                            <h5 class="text-lg">Get updates from us?</h5>
                            <p>
                                Subscribe to our newsletter to recieve the latest updates!
                            </p>
                            <p class="text-sm mb-4">Or follow us on Social Media!</p>
                            <a href="/placeholder/newsletter" class="p-2 text-white bg-[#f3a712] rounded-lg">SIGN UP</a>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="text-xl">Useful Links</h4>
                    <ul class="m-2">
                        <li>
                            <a href="/accessibility" class="hover:underline">Accessibility in the Zoo</a>
                        </li>
                        <li>
                            <a href="/book/hotel" class="hover:underline">Book a Hotel</a>
                        </li>
                        <li>
                            <a href="/book/zoo" class="hover:underline">Book Zoo Tickets</a>
                        </li>
                        <li>
                            <a href="/plan" class="hover:underline">Plan your Visit</a>
                        </li>
                        <li>
                            <a href="/api/v1/aici/rawr" class="hover:underline">Raw AI-CI Readings</a>
                        </li>
                        <li><a href="/aici" class="hover:underline">AI-CI API</a></li>
                        <li><a href="/terms" class="hover:underline">Terms and Conditions</a></li>
                        <li><a href="/privacy" class="hover:underline">Privacy Policy</a></li>
                        <li><a href="/cookies" class="hover:underline">Cookie Policy</a></li>
                    </ul>
                </div>
                <span class="gradient-text">Site developed by <a href="https://eilles.xyz">Jack Eilles</a>
                    <i class="fa fa-star gradient-text" style="font-size: 28px"></i></span>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <!-- Flowbite Again -->
</body>

</html>