{% extends "base.html" %}

{% block content %}
<div class="mx-auto w-fit border-2 border-[#669bbc] text-center bg-white shadow-lg rounded-lg m-4 p-4">
    <h1 text="text-2xl">Booking Success!</h1>
    <p>Thank you for booking with Riget Zoo Adventures, we'll see you soon!</p>
    <script defer>
        function redirect () {
            var interval = setInterval(myURL, 5000);
            var result = document.getElementById("result");
            result.innerHTML = "<b>The page will redirect after delay of 5 seconds setInterval() method.</b>";
        }

        function myURL() {
            document.location.href = '/';
            clearInterval(interval);
        }

        redirect();
    </script>
    <p>This page will redirect home in 5 seconds.</p>
    <p>If you don't want to wait: <a href="/" class="underline text-[#669bbc]">Go now.</a></p>
</div>

{% endblock %}