{% extends "booking_base.html" %}

{% block content %}
    <p class="mx-auto p-2 m-2 text-center border-2 border-[#669bbc] bg-white w-fit rounded-lg shadow-lg">Step One</p>
    <div class="border-2 border-[#669bbc] mx-auto max-w-screen-lg mt-1 rounded-lg text-center p-4 w-fit bg-white shadow-lg">
        <h2 class="text-xl p-2">Ready to book?</h2>
        <p>Get ready for your next adventure at Riget Zoo Adventures!</p>
        <p>Stay for a day, or stay for a few nights with our cheap hotel stay prices.</p>
        <p>Entry to the zoo and hotels will only be permitted during the dates that you select.</p>
        <div class="m-4 my-8">
            <a href="{{ url_for('hotel_booking') }}" class="p-4 mx-2 w-16 rounded-lg shadow-md text-white bg-[#29333c] hover:bg-[#1c2329]">Hotel Booking</a>
            <a href="{{ url_for('zoo_booking') }}" class="p-4 mx-2 w-16 rounded-lg shadow-md text-white bg-[#669bbc] hover:bg-[#5c8dab]">Zoo Booking</a>
        </div>
    </div>
{% endblock %}