<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A zoo dedicated to the restoration of wildlife." />
        <meta name="og:title" property="og:title" content="Riget Zoo Adventures" />
        <meta name="og:description" property="og:description" content="A Family zoo dedicated to the restoration of wildlife in the Safari." />
        <meta name="robots" content="index, book, Nofollow">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- Tailwind CSS during dev -->
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
        <!-- Flowbite JS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>RZA - {{ title }}</title>
        {% if current_user.opendyslexic %}
        <style>
            body {
                font-family: "OpenDyslexic", sans-serif !important;
            }
        </style>
        {% else %}
        <style>
            body {
                font-family: "Rewalt", sans-serif !important;
            }
        </style>
        {% endif %}
    </head>
<body>
    <nav class="bg-[#29335ca0]">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{{ url_for('static', filename='img/rza-logo.png')}}" class="h-12" alt="Riget Zoo Adventures Logo" />
            </a>
            <a href="/" class="ml-auto text-white pr-4"><i class="fa fa-home" style="font-size: 24px"></i></a>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script> <!-- Flowbite Again -->
</body>
</html>