{% extends "base.html" %}

{% block content %}
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4">
    <h1 class="text-3xl text-center p-4">Admin Dashboard</h1>
</div>
<div class="grid grid-cols-3 max-w-screen-xl mx-auto">
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin">Home</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/messages">Messages</a>
    <a class="bg-white rounded-lg m-2 p-2 hover:bg-gray-100" href="/admin/check_booking">Check Bookings</a>
</div>
<div class="bg-white shadow-lg rounded-lg max-w-screen-xl mx-auto m-4 p-4 text-center">
    <p>Name: {{ name }}</p>
    <p>Booking Reference: {{ bookid }}</p>
    <p>People: {{ ppl }}</p>
    <p>Arrival: {{ arrival }}</p>
    <p>Paid: {{ paid }}</p>
</div>
{% endblock %}