{% extends "base.html" %}

{% block content %}
    <div class="bg-white rounded-lg shadow-lg p-4 w-fit mx-auto my-4">
        <h1 class="text-2xl my-2">Contact Us.</h1>
        <form method="post" action="" class="p-2" novalidate>
            {{ form.hidden_tag() }}
            <div class="my-4">
                <p>{{ form.text.label }}</p>
                <p>{{ form.text(size=64) }}</p>
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit">{{ form.submit() }}</p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
    </div>
{% endblock %}