{% extends "booking_base.html" %}

{% block content %}
    <p class="mx-auto p-2 m-2 text-center border-2 border-[#669bbc] w-fit bg-white rounded-lg shadow-lg">Step Three</p>
    <div class="border-2 border-[#669bbc] mx-auto max-w-screen-lg mt-1 rounded-lg text-center p-4 w-fit bg-white shadow-lg">
        <h2 class="text-xl p-2">Pay for your booking.</h2>
        <form method="post" action="" class="p-2" novalidate>
            {{ form.hidden_tag() }}
            <div class="my-4">
                <div>
                    <p>{{ form.cardholder_name.label }}</p>
                    {% if card != None %}
                        <p>{{ form.cardholder_name(size=32, value=card.card_info['cardholder_name']) }}</p>
                    {% else %}
                        <p>{{ form.cardholder_name(size=32) }}</p>
                    {% endif %}
                    {% for error in form.cardholder_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>{{ form.card_num.label }}</p>
                    {% if card != None %}
                        <p>{{ form.card_num(size=32, value=card.card_info['card_num']) }}</p>
                    {% else %}
                        <p>{{ form.card_num(size=32) }}</p>
                    {% endif %}
                    {% for error in form.card_num.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4 columns-2">
                <div>
                    <p>{{ form.card_expiry_mm.label }}</p>
                    {% if card != None %}
                        <p>{{ form.card_expiry_mm(size=32, value=card.card_info['card_expiry_mm']) }}</p>
                    {% else %}
                        <p>{{ form.card_expiry_mm(size=32) }}</p>
                    {% endif %}
                    {% for error in form.card_expiry_mm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.card_expiry_yy.label }}</p>
                    {% if card != None %}
                        <p>{{ form.card_expiry_yy(size=32, value=card.card_info['card_expiry_yy']) }}</p>
                    {% else %}
                        <p>{{ form.card_expiry_yy(size=32) }}</p>
                    {% endif %}
                    {% for error in form.card_expiry_yy.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>{{ form.card_cvv.label }}</p>
                    {% if card != None %}
                        <p>{{ form.card_cvv(size=3, value=card.card_info['card_cvv']) }}</p>
                    {% else %}
                        <p>{{ form.card_cvv(size=3) }}</p>
                    {% endif %}
                    {% for error in form.card_cvv.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <p class="p-2 my-4"> {{ form.save_info() }} {{ form.save_info.label }}</p>
            <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit mx-auto">{{ form.submit() }}</p>
        </form>
        <br>
        <h2 class="text-xl">Summary:</h2>
        <ul>
            <li>{{ days }} days</li>
            <li>for £{{ price }}</li>
            <li>with {{ people }} people.</li>
        </ul>
    </div>
{% endblock %}