{% extends "booking_base.html" %}

{% block content %}
    <p class="mx-auto p-2 m-2 text-center border-2 border-[#669bbc] w-fit bg-white rounded-lg shadow-lg">Step Two</p>
    <div class="border-2 border-[#669bbc] mx-auto max-w-screen-lg mt-1 rounded-lg text-center p-4 w-fit bg-white shadow-lg">
        <h2 class="text-xl p-2">Check Availability</h2>
        <form method="post" action="" class="p-2" novalidate>
            {{ form.hidden_tag() }}
            <div class="columns-2 my-4">
                <div>
                    <p>{{ form.forename.label }}</p>
                    <p>{{ form.forename(size=32, value=current_user.forename) }}</p>
                    {% for error in form.forename.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.surname.label }}</p>
                    <p>{{ form.surname(size=32, value=current_user.surname) }}</p>
                    {% for error in form.surname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>{{ form.email.label }}</p>
                    <p>{{ form.email(size=32, value=current_user.email) }}</p>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>{{ form.people.label }}</p>
                    <p>{{ form.people(size=32) }}</p>
                    {% for error in form.people.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>{{ form.start_date.label }}</p>
                    <p>{{ form.start_date(size=32) }}</p>
                    {% for error in form.start_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>{{ form.end_date.label }}</p>
                    <p>{{ form.end_date(size=32) }}</p>
                    {% for error in form.end_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <div>
                    <p>You can add zoo tickets onto your booking, which gives you access to the entire zoo during your stay!</p>
                    <p>{{ form.zoo_tickets() }} {{ form.zoo_tickets.label }}</p>
                    {% for error in form.end_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit mx-auto">{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}