{% extends "base.html" %}

{% block content %}
    <div class="w-auto h-auto max-h-[512px] overflow-hidden flex z-0 mt-[-84px]">
        <video playsinline autoplay muted loop id="hero_vid" class="w-full object-cover self-end">
            <source src="/static/img/hero_vid.webm" type="video/webm">
        </video>
    </div>
    <div class="shadow-lg rounded-lg max-w-screen-xl text-center mx-auto bg-[#f3a712cf] text-white absolute top-24 left-4 right-4 m-4">
        <h1 class="text-3xl p-4">Welcome to Riget Zoo Adventures!</h1>
        <p class="pb-4">Enjoy a fun-packed day for the whole family at the UK's top wildlife safari zoo's.</p>
    </div>
    <div class="shadow-lg rounded-lg max-w-screen-md mx-auto bg-white absolute top-[224px] p-4 left-0 right-0 mt-4">
        <h1 class="text-3xl text-center">Find out more!</h1>
        <div class="pb-4 text-center mt-8">
            <a href="{{ url_for('book') }}" class="p-4 bg-[#e4572e] rounded-lg shadow-lg mx-2 text-white">Book a Visit!</a>
            <a href="{{ url_for('plan') }}" class="p-4 bg-white border border-[#669bbc] rounded-lg shadow-lg mx-2">Plan your Trip.</a>
        </div>
    </div>
    <div class="my-4 columns-1 max-w-screen-xl mx-auto xl:columns-2">
        <div class="bg-white rounded-lg p-4 shadow-lg m-2 break-inside-avoid-column"> 
            <h2 class="text-3xl">Welcome!</h2>
            <p class="text-sm mb-2">We're making a difference to wildlife!</p>
            <p class="my-2">Whether you're looking for a fun family day out, or a nice holiday away from home, Riget Zoo Adventures offers a fun-packed day for the whole family!</p>
            <p class="my-2">With our Safari-Style drive-through zoo exhibit being rated the best in the United Kingdom, and the massive amount of animal exhibits, daily talks, and events, there's always something for you to enjoy.</p>
            <p class="my-2">Bringing the African Safari experience to the United Kingdom, welcome to Riget Zoo Adventures!</p>
            <p class="my-2">Make sure to book your tickets early!</p>
        </div>
        <div class="grid grid-cols-4 text-center m-2 break-inside-avoid-column">
            <a href="/accessibility" class="rounded-lg shadow-lg bg-white hover:bg-gray-100 mx-2 break-inside-avoid-column">
                <p class="fa fa-universal-access p-4" style="font-size:48px"></p>
                <p>Accessibility in the Zoo</p>
            </a>
            <a href="/pricing" class="rounded-lg shadow-lg bg-white hover:bg-gray-100 mx-2 break-inside-avoid-column">
                <p class="fa fa-money p-4" style="font-size:48px"></p>
                <p>Pricing</p>
            </a>
            <a href="/about" class="rounded-lg shadow-lg bg-white hover:bg-gray-100 mx-2 break-inside-avoid-column">
                <p class="fa fa-comment p-4" style="font-size:48px"></p>
                <p>About the Zoo</p>
            </a>
            {% if current_user.forename != "admin" %}
            <a href="/book" class="rounded-lg shadow-lg bg-white hover:bg-gray-100 mx-2 break-inside-avoid-column">
                <p class="fa fa-book p-4" style="font-size:48px"></p>
                <p>Book a Visit</p>
            </a>
            {% else %}
            <a href="/admin" class="rounded-lg shadow-lg bg-white hover:bg-gray-100 mx-2 break-inside-avoid-column">
                <p class="fa fa-wrench p-4" style="font-size:48px"></p>
                <p>Admin</p>
            </a>
            {% endif %}
        </div>
        <div class="p-4">
            <h2 class="text-xl text-white">Looking for more information?</h2>
            <p class="m-2 text-white">Maybe look at our <a href="/plan" class="hover:underline">Plan your visit</a> page, or find out more <a href="/about" class="hover:underline">about the zoo</a>!</p>
            <p class="m-2 text-white">Once you've read up on those, how about <a href="/book" class="hover:underline">booking a visit</a>?</p>
        </div>
    </div>
{% endblock %}