{% extends "base.html" %}

{% block content %}
    <div class="border-2 border-[#669bbc] mx-auto max-w-screen-lg my-4 rounded-lg p-4 w-fit bg-white shadow-lg">
        <h2 class="text-xl p-2">Ready to adventure further? Log in!</h2>
        <form method="post" action="" class="p-2" novalidate>
            {{ form.hidden_tag() }}
            <div class="my-4">
                <p>{{ form.email.label }}</p>
                <p>{{ form.email(size=32) }}</p>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p>{{ form.password.label }}</p>
                <p>{{ form.password(size=32) }}</p>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            </div>
            <div class="my-4">
                <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit">{{ form.submit() }}</p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <p>Don't have an account? <a class="text-[#669bbc] underline" href="{{ url_for('register') }}">Register Today!</a></p>
    </div>
{% endblock %}