{% extends "base.html" %}

{% block content %}
<div class="columns-2 m-4 mx-auto max-w-screen-xl">
    <div class="bg-white rounded-lg shadow-lg mx-2 p-4 break-inside-avoid-column">
        <h1 class="text-2xl my-2">Plan your Visit!</h1>
        <p class="my-2">There are many things you should know when visiting a zoo, and RZA wants to make your visit as smooth and fun as possible.</p>
        <p class="my-2">Make sure you always book your tickets beforehand, and have them ready at entry, as we do not accept on-the-day admission.</p>
        <p class="my-2">Before you arrive, maybe look at our <a href="/about" class="hover:underline">about the zoo</a> page to learn more about our organisation, and what our mission is.</p>
        <p class="my-2">If you have any extra requirements, such as physical disabilities, mental disabilities, etc... make sure to look at the <a href="/accessibility" class="hover:underline">accessibility in the zoo</a> page to see what extra help there is for you while attending the zoo.</p>
    </div>
    <div class="bg-white rounded-lg shadow-lg mx-2 p-4 break-inside-avoid-column">
        <h1 class="text-2xl mt-2">Current Events</h1>
        <p class="text-sm">Want to see what's going on in the zoo right now?</p>
        <div class="w-full shadow-md rounded-lg bg-white p-2">
            <h2 class="text-xl">Panda Exhibition</h2>
            <p class="text-xs">Want to see how Pandas have adapted to live in their environment?</p>
            <p class="text-xs">Running from 27-04-2024 -- 28-08-2024</p>
        </div>
        <div class="w-full shadow-md rounded-lg bg-white p-2">
            <h2 class="text-xl">Flamingo Frenzy</h2>
            <p class="text-xs">Watch our flamingos perform their tricks!</p>
            <p class="text-xs">Running today at 3:30PM</p>
        </div>
        <div class="w-full shadow-md rounded-lg bg-white p-2">
            <h2 class="text-xl">Penguin Feeding</h2>
            <p class="text-xs">Feed the penguins at our Frosty Zone!</p>
            <p class="text-xs">Running everyday!</p>
        </div>
    </div>
</div>
<div class="bg-white rounded-lg shadow-lg m-4 p-4 max-w-screen-xl mx-auto">
    <h1 class="text-2xl my-2">Where do you find us?</h1>
    <p class="my-2">There are a few ways you can find our location!</p>
    <p class="my-2">What3Words: ///major.whirlpool.profiled - <a href="https://w3w.co/major.whirlpool.profiled">Link</a></p>
    <p class="my-2">Address: New College Durham, Framwellgate Moor Campus, Durham, DH1 5ES</p>
    <p class="my-2">Google Maps: <a href="https://maps.app.goo.gl/CHs558Cj4p5dbYLU7">Link</a></p>
</div>
{% endblock %}