{% extends "base.html" %}

{% block content %}
<div class="max-w-screen-lg bg-white rounded-lg shadow-lg m-4 mx-auto p-4">
    <h1 class="text-2xl my-2">Prices</h1>
    <p class="my-2">RZA is one of the first zoos to offer a completely flat rate for all visitors, with extra costs refunded at entry.</p>
    <ul>
        <li><b>Prices</b></li>
        <li>Zoo Visits flat rate:</li>
        <li class="ml-4">£35 p.p</li>
        <li class="ml-4">Full refund for carers at entry</li>
        <li class="ml-4">£25 refund for under 16's at entry</li>
        <li class="ml-4">£10 refund for over 65's at entry</li>
        <br>
        <li>Hotel Visits flat rate:</li>
        <li class="ml-4">£65 p.p</li>
        <li class="ml-4">£15 refund for under 16's at entry</li>
        <li class="ml-4">£10 refund for over 65's at entry</li>
        <li class="ml-8">£25 added for all with zoo ticket added</li>
    </ul>
    <p class="my-2">These extra costs get refunded to you at entry, this is to prevent people booking discounted tickets (such as an under 16's ticket) when the person using the ticket is not under 16.</p>
</div>
{% endblock %}