{% extends "base.html" %}

{% block content %}
<div class="border-2 border-[#669bbc] mx-auto max-w-screen-lg my-4 rounded-lg p-4 w-fit bg-white shadow-lg">
    <a class="text-xl p-2 hover:underline" href="/logout">Log Out</a>
    <h2 class="text-xl p-2">Rewards Points</h2>
    <p class="p-2"><span class="text-blue-400 text-xl">{{ points }}</span> points</p>
    <h2 class="text-xl p-2">Preferences, Profile, and Settings</h2>
    <form method="post" action="" class="p-2" novalidate>
        {{ form.hidden_tag() }}
        <h3>Profile</h3>
        <div class="my-4 columns-2">
            <div>
                <p>{{ form.home_num.label }}</p>
                <p>{{ form.home_num(size=4) }}</p>
                {% for error in form.home_num.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <p>{{ form.home_street.label }}</p>
                <p>{{ form.home_street(size=32) }}</p>
                {% for error in form.home_street.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="my-4 columns-2">
            <div>
                <p>{{ form.home_town.label }}</p>
                <p>{{ form.home_town(size=32) }}</p>
                {% for error in form.home_town.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                <p>{{ form.home_postcode.label }}</p>
                <p>{{ form.home_postcode(size=8) }}</p>
                {% for error in form.home_postcode.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <h3>Accessibility </h3>
        <div class="my-4">
            <p>{{ form.opendyslexic() }} {{ form.opendyslexic.label }}</p>
        </div>
        <div class="my-4">
            <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit">{{ form.submit() }}</p>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <span style="color: red;">{{ message }}</span>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}