{% extends "base.html" %}

{% block content %}
    <div class="border-2 border-[#669bbc] mx-auto max-w-screen-lg my-4 rounded-lg p-4 w-fit bg-white shadow-lg">
        <h2 class="text-xl p-2">Get ready to start your adventure. Register Today!</h2>
        <form method="post" action="" class="p-2" novalidate>
            {{ form.hidden_tag() }}
            <div class="columns-2 my-4">
                <div>
                    <p>{{ form.forename.label }}</p>
                    <p>{{ form.forename(size=32) }}</p>
                    {% for error in form.forename.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.surname.label }}</p>
                    <p>{{ form.surname(size=32) }}</p>
                    {% for error in form.surname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="my-4">
                <p>{{ form.email.label }}</p>
                <p>{{ form.email(size=64) }}</p>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p>{{ form.password.label }}</p>
                <p>{{ form.password(size=64) }}</p>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p>{{ form.confirm_password.label }}</p>
                <p>{{ form.confirm_password(size=64) }}</p>
                {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="my-4">
                <p class="p-2 bg-[#f3a712] hover:bg-[#bd820f] rounded-md shadow-lg w-fit">{{ form.submit() }}</p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <p class="text-sm">By registering an account, you are agreeing to our <a href="/terms" class="text-gray-900 hover:underline">Terms and Conditions</a>, <a href="/privacy" class="text-gray-900 hover:underline">Privacy Policy</a>, and <a href="/cookies" class="text-gray-900 hover:underline">Cookie Policy</a></p>
        <p>Already have an account? <a class="text-[#669bbc] underline" href="{{ url_for('login') }}">Login.</a></p>
    </div>
{% endblock %}